section,
article {
    width: 40rem;
    max-width: 80vw;
}

section {
    margin: 0 auto 5rem auto;
}

article {
    margin: 0 auto 3rem auto;
}

h1,
h2,
p,
a,
code,
pre {
    margin-bottom: 1rem;
}

a {
    display: block;
}

code {
    display: block;
}

code,
pre {
    color: var(--title-contrast);
    background-color: var(--text);

    padding: 1rem 2rem;
}

code,
pre {
    font-family: 'Source Code Pro', monospace;
}

@media screen and (max-width: 500px) {
    #file-input-label {
        left: 12rem;
    }

    section,
    article {
        max-width: 90vw;
    }
}