section,
article {
    width: 40rem;
    max-width: 80vw;
}

section,
hr {
    margin: 0 auto 5rem auto;
}

article {
    margin: 0 auto 3rem auto;
}

h1,
h2,
p,
a,
code,
pre {
    margin-bottom: 1rem;
}

a {
    display: block;
}

code,
.root,
.important-code {
    font-family: 'Source Code Pro', monospace;
    
    padding: 1rem 2rem;
}

code {
    display: block;
    color: var(--title-contrast);
    background-color: var(--text);
}

.root {
    background-color: var(--background);
}

.important-code {
    color: var(--important-code);
}

/* delete docs - cross */

.cross {
    cursor: pointer;
    margin-left: 1rem;
}


@media screen and (max-width: 500px) {
    #file-input-label {
        left: 12rem;
    }

    section,
    article {
        max-width: 90vw;
    }
}